@model MvcCoreUploadAndDisplayImage_Demo.ViewModels.PredictionViewModel

@{
    ViewData["Title"] = "UploadPrediction";
}
<div class="col-md-10 mx-auto py-4">
    <div class="card">
        <div class="card-header bg-primary text-uppercase text-white">
            <h4>Add New Prediction for FIFA World Cup Qatar 2022™</h4>
        </div>
    </div>
    <div class="card-body">
        <form enctype="multipart/form-data" asp-action="UploadPrediction">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Champion" class="control-label"></label>
                        <input asp-for="Champion" class="form-control" />
                        <span asp-validation-for="Champion" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ExcelPrediction" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="ExcelPrediction" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <span asp-validation-for="ExcelPrediction" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TopGoalScorer" class="control-label"></label>
                        <input asp-for="TopGoalScorer" class="form-control" />
                        <span asp-validation-for="TopGoalScorer" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="submit" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
                <a asp-action="UploadPrediction" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-fast-backward"></i> Clear all</a>
            </div>
        </form>
    </div>
</div>

<div class="list-group-item-success ">
    <h4>Правилата: </h4>
    <h4>Познат Знак: 1т; Познат Точен Резултат: 3т; Познат Голмайстор: 10т, Познат Шампион: 10т</h4>
    <h4>Прогнози се приемат до 18:00 на 20.11.2022; 1-во място - 80%, 2-ро място - 20%</h4>
</div>



@await Component.InvokeAsync("NToastNotify")
@section scripts{
    <script type="text/javascript">
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

            //For the preview:
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("customFile").files[0]);

            oFReader.onload = function (oFREvent) {
                document.getElementById("uploadPreview").src = oFREvent.target.result;
            };

        });
    </script>
}

